/* -- ROBERT J CHATFIELD -- */

/* -- MAIN -- */
body {
  background-color: white;
  color: black;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* -- HEADING -- */
heading {
  display: block;
  margin: 80px;
}
h1 {
  color: #3395F8;
  margin: 0;
  font-size: 130px;
  line-height: 0.8em;
  font-weight: 500;
  letter-spacing: -5px;
  background: white;
  -webkit-transition: all 1s;
  -webkit-text-size-adjust: none;
}
.tagline {
  color: #7F7F7F;
  letter-spacing: -1px;
  font-size: 20px;
  margin-top: 80px;
  -webkit-transition: all 1s;
  -webkit-text-size-adjust: none;
}
.tagline.hide {
  -webkit-transform: scale(1.2);
  opacity: 0;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td.taglineDivider {
  padding: 0 12px;
}
td.taglineText {
  text-align: left;
  padding: 0 20px;
}

/* -- PROFILES -- */
#socialmedias {
  margin: 80px 0;
}
.sm {
  display: inline-block;
  box-sizing: content-box;
  width: 120px;
  height: 120px;
  margin: 10px;
  background-image: url('sm_icon.png');
  color: rgba(255,255,255,0);
  -webkit-transition: all 0.4s;
	border-radius: 50%;
}
.sm:hover {
  -webkit-transform: scale(1.1);
}
.sm.hide {
  -webkit-transform: scale(1.5);
  opacity: 0;
}

#fb {background-position: 0px -2px;}
#gp {background-position: -152px -2px;}
#tw {background-position: -456px -2px;}
#in {background-position: -151px -176px;}
#li {background-position: 0px -176px;}
#gh {background-position: -151px -347px;}

.taglineText a {
  color: #3395F8;
  text-decoration: none;
}
.taglineText a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:1000px) {
  h1 {font-size: 130px;line-height: 130px;}
  .tagline {font-size: 30px;}
  heading {margin: 40px 10px;}
}
@media only screen and (max-width:570px) {
  h1 {font-size: 60px;line-height: 60px;}
  .tagline {font-size: 20px; margin-top: 40px;}
  heading {margin: 40px 10px;}
}
